
ipykernel
jupyterlab
pandas
numpy
matplotlib
plotly
seaborn
scipy
scikit-learn
imblearn
xgboost
catboost
pymongo
from_root
evidently
dill
PyYAML
neuro_mf
boto3
mypy-boto3-s3
mypy-boto3-sagemaker
botocore
fastapi
uvicorn
jinja2
python-multipart
-e .